streamlit 
streamlit_option_menu[option_menu]
pandas 
random
warnings
sklearn.neighbors[NearestNeighbors]
sklearn.preprocessing[MinMaxScaler]
utils1 [films_similaires]
utils2[films_similaires2]
utils3[films_par_acteur]
utils4[search_actor]
utils5[films_similaires3]
ast 
seaborn
plotly.express
plotly.graph_objects
base64
re